<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

        <!-- Basics -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>.:: 金文 ::.</title>
        <link name="author" href="#" />
        <meta name="description" content="Haoquan,Software Engineer">

        <!-- Favicons -->
        <link rel="shortcut icon" href="img/favicons/favicon.ico">

        <!-- Mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- CSS -->
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <!-- Fonts 
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>-->
		<style>
			*{font-family:"Microsoft Yahei";}
        </style>
    </head>
    <body>           

        <div class="wrapper" id="vData">

            <header>
                <a class="menu-icon jiji">
                    <span></span>
                </a>
                <nav class="menu visuallyhidden">
                    <ul>
                        <li><a href="#home">首页</a></li>
                        <li><a href="#about">关于{{firstName}}</a></li>
                        <li><a href="#work">我的工作</a></li>
                        <li><a href="#contact">联系方式</a></li>
                    </ul>
                </nav>
            </header>

            <section id="home" class="row">
                <div class="overlay">
                    <div class="col home-title jiji">
                        <h1 id="myName">{{lastName}}{{firstName}}</h1>
                        <h2>{{position}}</h2>
                        <a  :href="resume" target="_blank" class="but">下载简历</a>
                    </div>
                </div>
            </section>

            <section id="about" class="row">
                <div class="page about-content">
                    <div class="col about-title">
                        <h3
                            data-100="-webkit-transform: translateX(100px); opacity:0;"
                            data-500="-webkit-transform: translateX(0px); opacity:1;"
                        >关于我</h3>
                    </div>
                    <div class="col empty">&nbsp;</div>
                    <div class="col about-description introduction">
                        <p style="float: left;width: 50%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">姓名：</p>
                        <p style="text-align: left;" data-100="opacity:0;" data-500="opacity:1;">{{lastName}}{{firstName}}</p>
                        <p style="float: left;width: 50%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">性别：</p>
                        <p style="text-align: left;" data-100="opacity:0;" data-500="opacity:1;">{{sex}}</p>
                        <p style="float: left;width: 50%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">出生日期：</p>
                        <p style="text-align: left;" data-100="opacity:0;" data-500="opacity:1;">{{birthday}}</p>
                        <p style="float: left;width: 50%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">学历：</p>
                        <p style="text-align: left;" data-100="opacity:0;" data-500="opacity:1;">{{education}}</p>
                        <p style="float: left;width: 50%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">毕业院校：</p>
                        <p style="text-align: left;" data-100="opacity:0;" data-500="opacity:1;">{{Graduated}}</p>
                        <p style="float: left;width: 50%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">工作年限：</p>
                        <p style="text-align: left;" data-100="opacity:0;" data-500="opacity:1;">{{workyear}}</p>
                        <p style="float: left;width: 50%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">专业：</p>
                        <p style="text-align: left;" data-100="opacity:0;" data-500="opacity:1;">{{major}}</p>
                        <a href="#contact" class="but">我的联系方式</a>
                    </div>
                    <div class="col empty">&nbsp;</div>
                </div>
            </section>

            <section id="services" class="row">
                <div class="services-content page">
                    <div class="col services-design"
                        data-600="-webkit-transform: translateY(10px); opacity:0;"
                        data-800="-webkit-transform: translateY(0px); opacity:1;"
                    >
                        <span class="icon-design"></span>
                        <ul>
                            <li  v-for="s in skill[1]">{{s}}</li>
                        </ul>
                        <span class="icon-design"></span>
                        <ul>
                            <li  v-for="s in skill[2]">{{s}}</li>
                        </ul>
                    </div>

                </div>
            </section>

            <hr>

            <section id="work" class="row">
                <div class="work-content page">
                    <div class="col work-title">
                        <h3
                            data-900="-webkit-transform: translateX(-100px); opacity:0;"
                            data-1300="-webkit-transform: translateX(0px); opacity:1;"
                        >工作经历</h3>
                    </div>
                    <div class="col empty">&nbsp;</div>
                    <div class="col work-description" v-for="ws in workShow">
                        <p style="text-align: right;width: 33.3%;float: left;" data-100="opacity:0;" data-500="opacity:1;">{{ws.time}}</p>
                        <p style="text-align: center;width: 33.3%;float: left;" data-100="opacity:0;" data-500="opacity:1;">{{ws.company}}</p>
                        <p style="text-align: left;" data-100="opacity:0;" data-500="opacity:1;">{{ws.role}}</p>
                    </div>
                    <div class="col empty">&nbsp;</div>
                </div>
                <div class="work-examples page">
                    <div class="col work-title">
                        <h3
                                data-900="-webkit-transform: translateX(-100px); opacity:0;"
                                data-1300="-webkit-transform: translateX(0px); opacity:1;" style="margin-bottom: 2em;"
                        >项目经验</h3>
                    </div>
                    <div class="col work-item" data-1300="opacity:0;" data-1400="opacity:1;" v-for="p in projectShow">
                        <div style=" width: 100%;   float: left;">
                            <p style="float: left;width: 25%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">时间：</p>
                            <p style="text-align: left;width: 75%;float: right;" data-100="opacity:0;" data-500="opacity:1;">{{p.time}}</p>
                        </div>
                        <div style="    width: 100%;float: left;">
                        <p style="float: left;width: 25%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">名称：</p>
                        <p style="text-align: left;width: 75%;float: right;" data-100="opacity:0;" data-500="opacity:1;">{{p.name}}</p>
                        </div>
                        <div style="    width: 100%;float: left;">
                        <p style="float: left;width: 25%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">项目介绍：</p>
                        <p style="text-align: left;width: 75%;float: right;" data-100="opacity:0;" data-500="opacity:1;">{{p.introduction}}</p>
                        </div>
                        <div style="    width: 100%;float: left;">
                        <p style="float: left;width: 25%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">负责内容：</p>
                        <p style="text-align: left;width: 75%;float: right;" data-100="opacity:0;" data-500="opacity:1;">{{p.content}}</p>
                        </div>
                        <div style="    width: 100%;float: left;">
                        <p style="float: left;width: 25%;text-align: right;" data-100="opacity:0;" data-500="opacity:1;">角色：</p>
                        <p style="text-align: left;width: 75%;float: right;" data-100="opacity:0;" data-500="opacity:1;">{{p.role}}</p>
                        </div>

                        <div class="work-item-inside" v-if="p.url!=''">
                            <div class="work-item-inside-content">
                                <h4>{{p.name}}</h4>
                                <a :href="p.url" class="but">跳转至APP STORE</a>
                            </div>
                        </div>
                    </div>                 
                </div>
            </section>

            <hr>

            <section id="contact" class="row">
                <div class="contact-content page">
                    <div class="col contact-title">
                        <h3
                            data-100="-webkit-transform: translateX(100px); opacity:0;"
                            data-500="-webkit-transform: translateX(0px); opacity:1;"
                        >联系方式</h3>
                    </div>
                    <div class="col empty">&nbsp;</div>
                    <div class="col contact-description">
                        <a :href="'mailto\:'+email" class="but">{{email}}</a>
                    </div>
                    <div class="col empty">&nbsp;</div>
                    <div class="col span_12 social">
                        <a class="iconfont icon-qq" :href="qq" target="_blank"></a>
                        <a id="wxAction" class="iconfont icon-weixin" data-src="img/WeChat.jpg" target="_blank"></a>
                    </div>
                    <!--隐藏图层使用 wechat show-->
                    <div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
                        <div id="innerdiv" style="position:absolute;">
                            <img id="bigimg" style="border:5px solid #fff;" src="" />
                        </div>
                    </div>  
                </div>
            </section>

            <footer id="footer" class="row">
                <div class="footer-content page">
                    <div class="col f1">
                        <p>© 2017 Rene King.</p>
                    </div>
                </div>
            </footer>

        </div>

        <div class="loader"></div>
        
        <!-- JavaScript -->
        <script src="js/jquery-1.11.0.min.js" ></script>
        <script src="js/vue.min.js"></script>
        <script src="js/modernizr-2.6.2.min.js"></script>
        <script src="js/skrollr.js"></script>
        <script src="js/main.js"></script>
        <script src="js/self.js"></script>
        <script>  

            var totalData;
            
            $.ajaxSetup({  
                async : false  
            }); 

            $.get("js/data.txt",function (data) {
                    var str=data.replace(/\r\n/g,"");
                    totalData=JSON.parse(str);
                    //console.log(totalData);
            });
            
            $(function(){  
                
                $("#wxAction").click(function(){  
                    var _this = $(this);//将当前的pimg元素作为_this传入函数  
                    imgShow("#outerdiv", "#innerdiv", "#bigimg", _this);  
                });  
                
            });  
            

            new Vue({
                el:'#vData',
                data:totalData
            });

            var yourName=document.getElementById("myName").innerText;
            document.title =".:: "+yourName+" ::." ;
        </script> 
    </body>

</html>